$header-height: 34px;
$toolbar-height: 40px;
$formula-height: 24px;
$border-color: #c0c0c0;
$info-cell-width: 40px;
$row-height: 20px;
$cell-width: 100px;
$primary-color: #3c74ff;

$db-heeader-height: 64px;
